{% extends('base.html.twig') %}

{% block body %}
    {% if erreur is defined %}
        <h4><FONT color="red">{{ erreur }}</FONT></h4>
    {% endif %}

    <h1 align=center>Bienvenue sur Slicktest</h1><br>
    <img alt="logo" src="{{ asset('pictures/SLICKTEAM-GRAPHISME.png') }}" width="60px"/><br><br>

    <h3>
        <a href="{{'/quizz/web/app_dev.php/test/listeTest'}}" class="btn btn-primary btn-lg btn-block  active" role="button" title="Test">Choix du Test</a>
    </h3>

    <div id="contactSlickTeam">
        <p><h5>Suivez nous sur les réseaux sociaux :</h5>
        <br>
        <p>
            <a href="https://www.facebook.com/SlickteamFR/" target="_blank" rel="noopener">
                <img class="alignnone wp-image-29366 size-full" style="margin-right: 20px; margin-top: 20px;"
                     src="https://battledev.blogdumoderateur.com/wp-content/uploads/2017/02/facebook.png"
                     alt="" width="41" height="41">
            </a>
            <a href="https://twitter.com/SlickteamFR" target="_blank" rel="noopener">
                <img class="alignnone wp-image-29368 size-full" style="margin-right: 20px; margin-top: 20px;"
                     src="https://battledev.blogdumoderateur.com/wp-content/uploads/2017/02/twitter.png"
                     alt="" width="41" height="41">
            </a>
            <a href="https://www.linkedin.com/company/slickteam" target="_blank" rel="noopener">
                <img class="alignnone wp-image-29367 size-full" style="margin-right: 20px; margin-top: 20px;"
                     src="https://battledev.blogdumoderateur.com/wp-content/uploads/2017/02/linkedin.png"
                     alt="" width="41" height="41">
            </a>


        </p>
        </p>
    </div>
    </div>








{% endblock %}

{% block javascripts %}
    
    <script type="text/javascript">

    </script>
{% endblock %}